<div class="row-fluid">
	<div class="col-md-2">
		<%= image_tag("head.jpg") %>
	</div>
    <%= form_for @comment, remote: true, :url => yochat_comments_path(@yochat) do |f| %>
	<div class="col-md-10">
      <div class="input-group">
        <%= f.text_area :content, :rows => 1, :placeholder => "Comment...", :style => "resize:none", :class => "form-control", :id => "comment_submit_area" %>
        <span class="input-group-btn">
          <%= f.submit 'Publish', :class => "btn btn-lg btn-default" %>
        </span>
      </div>
	</div>
    <% end %>
	<br /><br /><hr />
</div>
