<div class="row-fluid">
    <div class="col-md-12" >
      <legend><%= @block_title %></legend>
      <div id="symbol_div" class="-1"></div>
      <div class="row-fluid">
        <div class="col-md-12" id="yochats_div">
          <%= render @yochats %>
        </div>
      </div>
  </div>
</div>