<h1>Create Yochat Alarm</h1>
<%= form_for @message, :url => admin_yochat_path(@yochat), :method => 'patch' do |f| %>
    <p><%= f.label :content, 'message' %></p>
    <p><%= f.text_area :content %></p>
    <%= f.submit 'publish' %>
<% end %>
