<legend>Profile</legend>
<table class="mytable table-hover" id="profile_table">
  <tr id="nickname">
    <td class="text-right text-muted" width="100">Nickname</td>
    <td><%= current_user.username %></td>
  </tr>
  <tr id="email">
    <td class="text-right text-muted" width="100">E-mail</td>
    <td><%= current_user.email %></td>
  </tr>
  <tr id="studentid">
    <td class="text-right text-muted" width="100">Student No.</td>
    <td>12000000</td>
  </tr>
    <tr id="gender">
    <td class="text-right text-muted" width="100">Gender</td>
  <td>f</td>
  </tr>
</table>