<div class="row-fluid">
  <div class="col-md-12" >
    <%= image_tag("a.jpg", class:"img-circle center-block") %>
    <p class="text-center"><strong>wwWwwCcc</strong></p>
    <div class="row-fluid">
      <div class="col-md-4" >
        <p class="text-center"> 01</p>
        <p class="text-center">Follow</p>
      </div>
      <div class="col-md-4" >
        <p class="text-center"> 01</p>
        <p class="text-center">Followed</p>
      </div>
      <div class="col-md-4" >
        <p class="text-center"> 01</p>
        <p class="text-center">Yochat</p>
      </div>
    </div>
  </div>
</div>