<legend>Profile</legend>
<table class="mytable table-hover" id="profile_table">
  <tr id="nickname">
    <td class="text-right text-muted" width="100">Nickname</td>
    <td><%= text_field :username, :id, :value => current_user.username, :class => "form-control input-sm" %></td>
  </tr>
  <tr id="email">
    <td class="text-right text-muted" width="100">E-mail</td>
    <td><%= text_field :email, :id, :value => current_user.email, :class => "form-control input-sm" %></td>
  </tr>
  <tr id="studentid">
    <td class="text-right text-muted" width="100">Student No.</td>
    <td><%= text_field :studentid, :id, :value => "12000000", :class => "form-control input-sm" %></td>
  </tr>
  <tr id="gender">
    <td class="text-right text-muted" width="100">Gender</td>
    <td><%= text_field :gender, :id, :value => "male", :class => "form-control input-sm" %></td>
  </tr>
</table>