<div class="container-fluid" id="LG">
  <div class="row-fluid">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
    <div class="row-fluid">
      <div class="col-lg-12">
        <%= render :partial => "staticpages/profile" %>
      </div>
    </div>
      <legend>Profile</legend>
      <table class="table table-striped">
      	<tr>
          <td class="text-right text-muted" width="100">E-mail</td>
      	  <td>text@qq.com</td>
      	</tr>
      	<tr>
          <td class="text-right text-muted" width="100">Name</td>
      	  <td>yuyc</td>
      	</tr>
      	<tr>
          <td class="text-right text-muted" width="100">Student No.</td>
      	  <td>12000000</td>
      	</tr>
      	<tr>
          <td class="text-right text-muted" width="100">Gender</td>
      	  <td>f</td>
      	</tr>
      </table>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>