<div class="container-fluid" id="LG">
  <div class="row-fluid">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <div class="row-fluid">
        <div class="col-lg-12">
          <%= render :partial => "staticpages/profile" %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-lg-12" id="profile_div">
        <%= render :partial => "staticpages/profileShow" %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-2 col-md-offset-5">
        <%= button_to 'Edit', "/profiles/edit", remote: true, :class => "btn btn-default", :id => "profileEditButton", "data-complete-text" => "Save"%>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>