<div class="hello-unit">
  <h1>Welcome to SeeYo</h1>
  <p>SeeYo is a microblog-like-system under ruby on rails。</p>
  <p>
    <a class="btn btn-primary btn-large" href="/users/sign_in">Log in</a>
    <a class="btn btn-large" href="/users/sign_up">Sign up</a>
  </p>
</div>