
<div class="container-fluid" id="MD">
  <div class="row-fluid">
    <div class="col-md-4">
      <div class="row-fluid">
        <div class="col-md-12">
      <%= render :partial => "common/profile_simple" %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row-fluid">
        <div class="col-md-12 bg-white" >
          <fieldset>
            <legend>Creat YoChat</legend>
            <%= render :partial => "common/yochat_publish" %>
          </fieldset>
        </div>
      </div>
      <%= render :partial => "common/yochat_show" %>
    </div>
  </div>
</div>